<a class="navbar-brand brand-mark" href="<%= typeof brandHref !== 'undefined' ? brandHref : '/' %>">
  <img
    src="/images/mskitech-logo.png"
    alt="<%= appName %>"
    class="brand-logo"
  >
</a>
